@model EntityLayer.Concrete.Author
@{
    ViewBag.Title = "AuthorUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<form class="form-group" method="post">
  
    @Html.HiddenFor(x => x.AuthorID, new { @class = "form-control" })
  
    <br />
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
    <br />
    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Yetenekler")
    @Html.TextBoxFor(x => x.AuthorAboutShort, new { @class = "form-control" })
    <br />
    @Html.Label("Ünvan")
    @Html.TextBoxFor(x => x.AuthorTitle, new { @class = "form-control" })
    <br />
    @Html.Label("İletişim Bilgileri")
    @Html.TextBoxFor(x => x.AuthorPhoneNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Mail Adresi")
    @Html.TextBoxFor(x => x.AuthorMail, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.AuthorPassword, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextAreaFor(x => x.AuthorAbout, 3, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>


